<head>
  <title>Localify</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "style", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="Discover your friends' favorite places with Localify.">
	<meta name="author" content="Eyal Toledano">

	<link rel="shortcut icon" href="favicon.ico">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">

	<!-- Fonts -->
	<link href='../../../fonts.googleapis.com/css@family=Lato_3A300,400' rel='stylesheet' type='text/css'>
	<!-- End Fonts -->

	<!-- CSS -->
	<!-- End CSS -->

	<!--[if lt IE 9]>
		<script src="../../../html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>

<header>

	<div class="container clearfix">
	
		<!-- Handheld -->	
		<div id="handheld" class="nine columns">
			<img src="handheld.png" alt="iPhone" width="500" />
		</div>
		<!-- End Handheld -->
		
		<!-- Hello -->
		<div id="hello" class="seven columns">
			<a href="/"><img src="logo.png" alt="Localify" width="149" /></a>
			<h1>Discover your friends' favorite places.</h1>
			<a class="button" href="#">Download the app</a>
			<span class="info">available for <a href="#">iPhone</a><br/>coming soon to iPad and Android</span>
		</div>
		<!-- End Hello -->
		
	</div><!-- END CONTAINER -->
	
</header>
