<section id="intro" class="container clearfix">
	<div id="bizheader" class="sixteen columns">
		<h2>Join Localify's Verified Business Program</h2>
		<p id="quoting" class="calling">Kindle relationships with your best customers.</p>
	</div>
</section>
<section id="intro" class="container clearfix">
	<div id="bizheader" class="sixteen columns">
		<p class="paragraph">Businesses of all sizes spend billions of dollars on mass-advertising to acquire difficult-to-retain customers. This leaves little room to kindle relationships with the customers who matter most to your business: repeat customers. In 2013, businesses spent over $500 Billion in marketing, with less than 2% being allocated to customer service. <span class="thick">It's no wonder that 86% of your customers are no longer engaging due to poor customer service!</span></p>
		
		<p class="paragraph">Localify is the personal recommendation app that allows you to discover your friends' favorite places. Could you imagine what would happen if your business could identify and concentrate on its most profitable customers? By providing the ability to incite repeat business and word of mouth through in-App promotions, Localify grows the influence of your best customers (through social recommendation) resulting in increased repeat purchases and profitability. <span class="thick">As they say, it is much more profitable to keep an existing customer than to acquire a new one -- about 7x more profitable!</span></p>
		
		<p class="paragraph">As a matter of fact, <a href="http://www.cmo.com/sites/default/files/ROI_from_Marketing_report_0.pdf">Adobe released a report</a> estimating that for each +1% of shoppers who return for a subsequent visit, overall revenue will increase by approximately +10%! In other words, if you were able to keep an extra +10% of your existing customer base, <span class="thick">you would double your revenue!</span></p>

	<p class="paragraph">Localify simplifies personal recommendation by removing the noise of popular entertainment discovery tools such as Yelp, FourSquare, TripAdvisor, UrbanSpoon and others. Using the Localify app, consumers are able to "Localify" your business, acknowledging it as their favorite in the sub-category of your business. You receive a weekly report of new Localifiers and have the ability to engage directly with them, whether to incite repeat purchase, referral or to bring them back if they've delocalified you!</p>
	
	<p class="paragraph">We're launching a pilot program with limited business seats. It's free for early adopters! If your business is wasting marketing dollars through PPC campaigns, billboards or (worse) Groupon, feel free to leave your email and we'll contact you about becoming a verified partner. We send you everything you need!</p>
</div>
</section>

<section id="signupform" class="container clearfix">
		<%= render partial: 'mc-signup-biz' %>	
</section>

<!-- Call to Action -->
<section id="call-to-action-two" class="container clearfix">
	<div class="lead sixteen columns">
		<p id="footercaller" class="calling">Your friends' favorite places. In your pocket.<p><br><br>
	</div>
	<div class="lead sixteen columns">
		<a class="button" href="#">Download the app</a>
	</div>
</section>
<!-- End Call to Action -->