<!DOCTYPE html>
<html>

<body>
	
	
		
	<!-- Intro -->
	
	<section id="intro" class="container clearfix">
		<div id="quote" class="twelve columns">
			<p class="calling">"Localify digitizes personal recommendation in such a simple and beautiful way."</p>
			<p class="meta">BetaKit, January 2014</p>
		</div>
		<div id="app-icon" class="four columns">
			<img src="betakit.png" alt="As seen on BetaKit" width="165" />
		</div>
	</section>
	<br>
	<section id="signupform" class="container clearfix">
			<%= render partial: 'mc-signup-user' %>	
	</section> 
	
	<!-- End Intro -->
		
	<!-- Screenshots -->
	<section id="screenshots" class="container clearfix">
		<hr  class="top" />
		<div id="screens" class="nine columns offset-by-one">
			<img src="screens.jpg" alt="screens" width="445" />
		</div>
		<div id="description" class="seven columns">
			<h2>Get the one recommendation you really care about.</h2>
			<h3>Your friends Localify their favorite places. <br>You discover places worth visiting.</h3><br/>
			<p>No Yelp.<br>No TripAdvisor.<br>No UrbanSpoon.<br><br>Just the one recommendation you need.</p>
		</div>
		<hr  class="bottom" />
	</section>
	<!-- End Screenshots -->
	
	<!-- Features -->
	<section id="features" class="container clearfix">
		<img class="iphone-big" src="iphone-big.jpg" alt="iphone" width="460" />
		<div class="lists">
			<ul class="list four columns">
			
				<li class="feature left">
					<img src="icons/heart.png" alt="icon" width="48" />
					<h3>Get rewarded</h3>
					<p>You Localify your favorite places and you get rewarded for being a loyal customer. Win-win.</p>
				</li>
				
				<li class="feature left">
					<img src="icons/brush.png" alt="icon" width="48" />
					<h3>Simple is always better.</h3>
					<p>Cut through the noise of today's social recommendation tools 
						with a single, beautiful app giving access to your friends' favorites.</p>
				</li>
				
			</ul>
			<ul class="list twelve columns offset-by-eight">
			
				<li class="feature right">
					<img src="icons/location.png" alt="icon" width="48" />
					<h3>Go here.</h3>
					<p>Stop searching. The best burrito in town is here and the best place to close a business deal is here.</p>
				</li>
				
				<li class="feature right">
					<img src="icons/cog.png" alt="icon" width="48" />
					<h3>It just works.</h3>
					<p>Localify brings a simple and powerful way to leverage your friends' favorite spots. It just works.</p>
				</li>
				
			</ul>
		</div>	
	</section>
	<!-- End Features -->
	
	<!-- Call to Action -->
	<section id="call-to-action" class="container clearfix">
		<div class="lead sixteen columns">
			<p class="calling">Your friends' favorite places. In your pocket.<p>
		</div>
		<div class="lead sixteen columns">
			<a class="button" href="#">Download the app</a>
		</div>
	</section>
	<!-- End Call to Action -->


</body>	

</html>